#start-btn
{
    width: 40%;
    border-style: inherit;
    border-color: blue;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#selfie_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
    border-style: groove;
    border-color: deepskyblue;
}

body {
    background-color:olivedrab;
    color: snow;
}

#end {
    background-color: azure;
    color: slateblue;
    border-width: 5px;
    border-style: double;
    text-align: center;
}

#infobutton {
    background-color: aquamarine;
    color: olivedrab;
}
